.about-us {
  width: 260px;
  color: black;

  @include min_tablet {
    width: 668px;
  }

  @include min_desktop {
    width: 700px;
  }
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 28px;

  @include min_tablet {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: 0.02em;
    margin-bottom: 43px;
  }

  @include min_desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;

  @include min_tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.about-us__item {
  position: relative;

  padding-top: 60px;
  margin-bottom: 23px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -10px;

    display: block;

    width: 60px;
    height: 45px;

    content: "";

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    background-image: url("../img/icon-feature-gift.svg");
  }

  @include min_tablet {
    width: 334px;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 50px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }

  @include min_desktop {
    width: 300px;
  }
}
