.about-us {
  width: 260px;
  color: black;

  @include min($tablet) {
    width: 668px;
  }

  @include min($desktop) {
    width: 700px;
  }
}

.about-us__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 28px;

  @include min($tablet) {
    font-size: 43px;
    line-height: 50px;
    letter-spacing: -0.01em;
    margin-bottom: 43px;
  }

  @include min($desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;
  padding-right: 50px;

  @include min($tablet) {
    padding-right: 0;
  }

  @include min($tablet) {
    margin-right: 51px;
  }
}

.about-us__wrapper {
  @include min($tablet) {
    display: flex;
  }
}

.about-us__item {
  position: relative;

  padding-top: 60px;
  margin-bottom: 23px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 600;

  &::before {
    position: absolute;
    top: 0;
    left: -10px;

    display: block;

    width: 60px;
    height: 45px;

    content: "";

    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present::before {
    background-image: url("../img/icon-feature-gift.svg");
  }

  @include min($tablet) {
    width: 334px;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 50px;
  }

  @include min($desktop) {
    width: 300px;
  }
}
