.button {
  @include btn-reset;
  display: block;

  width: 256px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  text-transform: uppercase;

  color: black;
  border: 2px solid #444444;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;

  &:focus,
  &:hover {
    color: white;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
