.button {
  @include btn-reset;
  display: block;

  width: 256px;
  padding-top: 17px;
  padding-bottom: 17px;

  text-align: center;
  text-transform: uppercase;

  color: black;
  border: 2px solid rgb(68, 68, 68);

  font-size: 17px;
  line-height: 20px;

  &:focus,
  &:hover {
    color: white;
    background-color: rgb(68, 68, 68);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
