.catalog {
  width: 260px;
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
    width: 1050px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .catalog {
    width: 668px;
  }
}
