.catalog {
  width: 260px;
}

.catalog__product-snippet {
  margin-bottom: 30px;
}

@include tablet {
  .catalog {
    display: flex;
    justify-content: space-between;
    width: 1050px;
  }
}

@include tablet and (max-width: $desktop-width) {
  .catalog {
    width: 668px;
    margin-bottom: 38px;
  }

  .catalog__product-snippet {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
