.catalog {
  width: 260px;

  @include min_tablet_max_desktop {
    width: 668px;
  }

  @include min($desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.catalog__product-snippet {
  margin-bottom: 30px;

  &:first-child {
    margin-left: 0;
  }

  @include min_tablet_max_desktop {
    margin-bottom: 54px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include min($desktop) {
    margin-left: 52px;
  }
}
