.category-list {
  @include list-reset;
  width: 320px;
  font-size: 19px;
  line-height: 24px;
  color: white;

  @include min($tablet) {
    display: flex;
    justify-content: center;
  }
}

.category-list__link {
  position: relative;
  color: inherit;
  display: inline-block;

  width: 140px;
  padding-top: 27px;
  padding-right: 150px;
  padding-bottom: 30px;
  padding-left: 30px;
  letter-spacing: 0.09em;

  cursor: pointer;

  background-color: rgb(99, 209, 187);

  &::after {
    position: absolute;
    top: 50%;
    right: 22px;

    width: 70px;
    height: 70px;

    content: "";
    transform: translateY(-50%);

    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--interior::after {
    background-image: url("../img/icon-interior.svg");
  }

  &:active::after {
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    background-color: #59d5bc;
  }

  &:active {
    background-color: #59d5bc;
    color: rgba(255, 255, 255, 0.3);
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys::after {
    background-image: url("../img/icon-toy.svg");
  }

  &--toys:hover,
  &--toys:focus {
    background-color: #46c1ae;
  }

  &--toys:active {
    background-color: #46c1ae;
    color: rgba(255, 255, 255, 0.3);
  }

  @include min($tablet) {
    width: 139px;
    padding-right: 165px;
    font-size: 20px;
    line-height: 30px;
    flex-grow: 1;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: 100% 120%;
  }

  @include min($desktop) {
    width: 145px;
    padding-right: 350px;
  }
}
