.category-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.category-list__item {
  position: relative;
  display: inline-block;
  width: 180px;
  padding: 30px 110px 30px 30px;
  background-color: rgba(99, 209, 187, 1);
  cursor: pointer;
  @include font-bold(19, 24, rgba(255,255,255,1));

  &::after {
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    right: 30px;
    position: absolute;
    content: "";
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
  }

  &:focus,
  &:hover {
    background-color: rgba(89, 213, 188, 1);
  }

  &:active {
    color: rgba(255,255,255,0.3);
  }

  &::after:focus,
  &::after:hover {
    opacity: 0.7;
  }

  &::after:active {
    opacity: 0.3;
  }
}

.category-list__item--color {
  background-color: rgba(86, 195, 178, 1);

  &::after {
    background-image: url("../img/icon-toy.svg");
  }

  &:focus,
  &:hover {
    background-color: rgba(70, 193, 174, 1);
  }

  &:active {
    color: rgba(255,255,255,0.3);
    opacity: 0.3;
  }
}
