.contacts {
  position: relative;
  width: 320px;
  color: rgb(68, 68, 68);

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  &::after {
    display: none;
    position: absolute;
    content: "";
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @include min_tablet_max_desktop {
    padding-top: 15px;
    width: 768px;

    &::after {
      display: block;
      top: 0;
      right: 53px;
    }
  }

  @include min($desktop) {
    display: flex;
    flex-direction: column;
    width: 354px;
    min-height: 385px;
    padding-left: 171px;
    padding-right: 525px;
    padding-top: 73px;

    &::after {
      display: block;
      top: 61px;
      left: 63px;
    }
  }
}

.contacts__title {
  margin: 0;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 23px;

  color: black;

  font-size: 18px;
  font-weight: 700;

  @include min_tablet_max_desktop {
    font-size: 43px;
    line-height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 46px;
  }

  @include min($desktop) {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 44px;
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__table {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;

  vertical-align: top;

  @include min_tablet_max_desktop {
    margin: 0 auto;
    width: 668px;
    font-size: 17px;
    margin-bottom: 25px;
  }

  @include min($desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts__method {
  padding-right: 23px;

  text-align: left;
  vertical-align: top;
}

.contacts__value {
  padding-bottom: 26px;
  vertical-align: top;
}

.contacts__e-mail {
  color: #444444;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin-bottom: 28px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: cover;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  @include min_tablet_max_desktop {
    margin: 0 auto;
    width: 768px;
    height: 457px;
    margin-bottom: 44px;
    background-image: url("../img/map-tablet@1x.jpg");

    @media (min-width: 768px) and (min-resolution: 144dpi),
      (min-width: 768px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @include min($desktop) {
    position: absolute;
    width: 525px;
    height: 457px;
    top: 0;
    right: 0;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-width: 1050px) and (min-resolution: 144dpi),
      (min-width: 1050px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}

.contacts__link {
  margin-right: 30px;
  margin-left: 30px;

  @include min_tablet_max_desktop {
    margin: 0 auto;
    width: 230px;
  }

  @include min($desktop) {
    margin-top: auto;
    width: 230px;
    margin-right: 0;
    margin-left: 0;
  }
}

.contacts__group {
  @include min_tablet_max_desktop {
    display: inline-block;
    vertical-align: top;
    align: center;
    width: 330px;
  }
}

.contacts__table br {
  @include min_tablet_max_desktop {
    display: none;
  }

  @include min($desktop) {
    display: none;
  }
}
