.form {
  width: 260px;
  font-size: 17px;
  line-height: 18px;
  color: black;
  font-weight: 700;
}

.form__group {
  padding: 0;
  margin-left: 0;
  border: none;
  border-top: 1px solid rgb(99, 209, 187);
}

.form__group-title {
  @include list-reset;
  display: block;

  padding-right: 30px;
  margin-bottom: 25px;

  color: rgb(99, 209, 187);
}

.form__list {
  @include list-reset;
  list-style: none;
}

.form__label {
  @include list-reset;

  display: block;
  position: relative;
  margin-bottom: 30px;

  padding-left: 60px;
  cursor: pointer;
}

.form__label--radio {
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -7px;
    left: 12px;
    background-color: rgb(98, 209, 186);
    opacity: 0;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: -19px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid black;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:active::before {
    border: 2px solid rgb(206, 206, 206);
  }
}

.form__radio:checked + label::after {
  opacity: 1;
}

.form__label--checkbox {
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    top: -10px;
    left: 10px;
    background-image: url("../img/icon-tick.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: -19px;
    left: 0;
    width: 38px;
    height: 38px;
    border: 2px solid black;
  }

  &:hover::before,
  &:focus::before {
    border: 2px solid rgb(98, 209, 186);
  }

  &:active::before {
    border: 2px solid rgb(206, 206, 206);
  }
}

.form__checkbox:checked + label::after {
  opacity: 1;
}

.form__label--text {
  padding-left: 0;
  margin-bottom: 20px;
}

.form__input--text,
.form__input--tel {
  width: 260px;
  border: none;
  padding-bottom: 15px;
  margin-bottom: 25px;


  font-size: inherit;
  line-height: inherit;
  border-bottom: 2px solid black;
}

.form__textarea {
  width: 226px;
  padding: 15px;
  margin-bottom: 20px;

  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  border: 2px solid black;
}

.form__text {
  @include list-reset;
  font-size: 14px;
  line-height: 16px;
  color: rgb(68, 68, 68);
  font-weight: 400;
  margin-bottom: 30px;
}
