a {
  text-decoration: none;
}

body {
  position: relative;
  width: 320px;
  margin: 0 auto;
  font-family: "Opensasns", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  letter-spacing: 0;
  outline: 3px solid blue;
}
