a {
  text-decoration: none;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Opensasns", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  letter-spacing: 0;
  outline: 2px solid blue;
}

@media (min-width: $mobile-width-only) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

@include tablet {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@include desktop {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
}
