a {
  text-decoration: none;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Opensans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  letter-spacing: 0;
  outline: 2px solid blue;
}


.container {
  @media (max-width: 320px) {
    width: 320px;
    margin: 0 auto;
  }

  @include min_tablet {
    width: 768px;
    margin: 0 auto;
  }

  @include min_desktop {
    width: 1150px;
    margin: 0 auto;
  }
}
