.modal {
  width: 320px;
  left: 50%;
  top: 50%;
  transform: translateY(-169px) translateX(-160px);

  @include min($tablet) {
    width: 570px;
    left: 50%;
    transform: translateX(-285px);
  }
}
