.page-main {
  margin: 0 auto;
}

.page-main__title {
  @include list-reset;
  display: block;

  width: 260px;
  padding-top: 75px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 120px;

  text-align: center;

  color: black;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;

  &--inner-page {
    min-height: 0;
    padding-bottom: 75px;
    margin-bottom: 30px;

    background-color: rgb(241, 241, 241);
    background-image: none;
  }
}

.page-main__catalog,
.page-main__form,
.page-main__product-card,
.page-main__production,
.page-main__about-us,
.page-main__contacts {
  margin: 0 auto;
}

.page-main__reviews {
  margin: 0 auto;
  margin-bottom: 40px;

  &::after {
    display: block;

    width: 320px;
    height: 5px;
    margin-left: -28px;
    margin-top: 35px;

    content: "";

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.page-main__text {
  margin-right: 30px;
  margin-left: 30px;
}

.page-main__production {
  margin-top: 25px;
  margin-bottom: 50px;
}

.page-main__section-nav {
  margin-bottom: 40px;
}

.page-main__product-card {
  margin-bottom: 30px;

  &::after {
    display: block;

    width: 320px;
    height: 5px;
    margin-left: -28px;
    margin-top: 35px;

    content: "";

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain;
  }
}

.page-main__about-us {
  margin-bottom: 55px;
}

.catalog__product-snippet {
  margin-bottom: 30px;
}
