.page-footer {
  margin: 0 auto;
  margin-top: 55px;
  min-width: 320px;
  background-color: #f1f1f1;
}

.page-footer__social-list {
  margin: 0 auto;
}

.page-footer__copyright {
  width: 260px;
  border-top: 2px solid #e5e5e5;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: black;
  vertical-align: middle;
  text-align: center;
}

.page-footer__logo-link {
  display: none;
}

.page-footer__copyright-image {
  margin-bottom: -10px;
  margin-left: 15px;
}

.page-footer__copyright-link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo-link {
    margin: 0 auto;
    width: 260px;
    display: block;
    align-self: center;
  }

  .page-footer__copyright {
    text-align: right;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
