.page-footer {
  margin: 0 auto;
  margin-top: 33px;
  padding-top: 30px;
  min-width: 320px;
  background-color: #f1f1f1;
}

.page-footer__social-list {
  margin: 0 auto;
  margin-bottom: 17px;
}

.page-footer__copyright {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #e5e5e5;
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 20px;
  cursor: pointer;
  letter-spacing: 0.03em;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: black;
}

.page-footer__copyright-icon {
  margin-left: 25px;

  path {
    fill: #46c1ae;
  }
}

.page-footer__copyright:active {
  opacity: 0.3;
}

.page-footer__logo-link {
  display: none;
}

@include tablet {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 145px;
    padding-top: 0;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 56px;
  }

  .page-footer__logo-link {
    margin: 0 auto;
    width: 260px;
    display: block;
    cursor: pointer;
  }

  .page-footer__copyright {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    border: none;
  }

  .page-footer__logo-icon:hover,
  .page-footer__logo-icon:focus {
    path {
      fill: #46c1ae;
    }
  }

  .page-footer__logo-icon:active {
    path {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .page-footer__social-list {
    margin-bottom: 0;
  }
}

@include desktop {
  .page-footer {
    margin-top: 104px;
    width: 1050px;
  }

  .page-footer__logo-link {
    margin: 0;
  }

  .page-footer__copyright {
    margin: 0;
  }
}
