.page-header {
  position: relative;
  margin: 0 auto;
  width: 320px;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__nav {
  position: relative;
}

.page-header__nav-toggle {
  @include btn-reset;
  right: 15px;
  top: -55px;
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;

  &--open {
    @include btn-reset;
    right: 15px;
    top: -55px;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-menu-open.svg");
  }

  &--close {
    @include btn-reset;
    right: 15px;
    top: -55px;
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/icon-menu-close.svg");
  }
}

.page-header__nav-list {
  @include list-reset;
  outline: 2px solid green;

  &--open {
    display: block;
    width: 320px;
    position: absolute;
    background-color: white;
    z-index: 2;
  }

  &--close {
    display: none;
    width: 320px;
    position: absolute;
    background-color: white;
    z-index: 2;
  }
}

.page-header__add-nav-list {
  display: none;
}

.page-header__nav-link {
  display: block;
  padding-top: 29px;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: top;
  border-top: 1px solid #ececec;
  font-size: 17px;
  line-height: 24px;
  color: black;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .page-header__nav-icon,
  &:focus .page-header__nav-icon {
    path {
      fill: #46c1ae;
    }
  }

  &:active .page-header__nav-icon {
    path {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__nav-item {
  &:nth-child(1) .page-header__nav-link {
    padding-left: 75px;
  }

  &:nth-child(2) .page-header__nav-link {
    padding-left: 75px;
  }
}

.page-header__nav-icon {
  margin-right: 20px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    width: 668px;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__logo-image {
    width: 86px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 0;
    display: block;
    z-index: 2;
  }

  .page-header__nav-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .page-header__nav-item {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(1) .page-header__nav-link {
      padding-left: 0;
    }

    &:nth-child(2) {
      order: 2;
    }

    &:nth-child(2) .page-header__nav-link {
      padding-left: 30px;
    }

    &:nth-child(3) {
      margin-left: 325px;
    }

    &:nth-child(3) .page-header__nav-link {
      font-size: 0;
      border-left: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
    }

    &:nth-child(4) .page-header__nav-link {
      padding-right: 0;
    }
  }

  .page-header__nav-icon--search {
    margin-right: 0;
  }

  .page-header__nav-link {
    border: none;
  }

  .page-header__add-nav-list {
    @include list-reset;
    width: 668px;
    margin-top: -67px;
    display: flex;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
  }

  .page-header__add-nav-link {
    color: black;
    cursor: pointer;
  }

  .page-header__add-nav-item {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      margin-left: auto;
      color: #444444;
      font-weight: 400;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
  }

  .page-header__logo-image {
    width: 86px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-48px);
    display: block;
    z-index: 2;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__nav-list {
    display: flex;
    margin-bottom: 20px;
  }

  .page-header__nav-item {
    &:nth-child(1) {
      border-right: 1px solid #dfdfdf;
    }

    &:nth-child(1) .page-header__nav-link {
      padding-left: 0;
    }

    &:nth-child(2) .page-header__nav-link {
      padding-left: 30px;
    }

    &:nth-child(3) {
      margin-left: auto;
      border-left: 1px solid #dfdfdf;
    }

    &:nth-child(3) .page-header__nav-link {
      font-size: 0;
    }

    &:nth-child(4) .page-header__nav-link {
      padding-right: 0;
    }

    &:nth-child(4) {
      border-left: 1px solid #dfdfdf;
    }
  }

  .page-header__nav-icon--search {
    margin-right: 0;
  }

  .page-header__add-nav-list {
    @include list-reset;
    width: 1050px;
    display: flex;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
  }

  .page-header__add-nav-link {
    color: black;
    cursor: pointer;
  }

  .page-header__add-nav-item {
    &:nth-child(2) {
      margin-left: 45px;
    }

    &:nth-child(3) {
      margin-left: auto;
      color: #444444;
      font-weight: 400;
    }
  }
}
