.product-snippet {
  display: flex;
  flex-direction: column;
  width: 260px;
  border-bottom: 1px solid #ececec;

  &:hover {
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.61);
  }

  &:active {
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.61);
  }
}

.product-snippet__name {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 6px;
  letter-spacing: 0.055em;
}

.product-snippet__properties {
  @include list-reset;
  width: 204px;

  margin: 0 auto;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  border-bottom: 1px solid #ededed;
  padding-bottom: 17px;
  margin-bottom: 22px;
}

.product-snippet__price {
  position: relative;
  margin: 0 auto;
  width: 204px;
  padding-bottom: 26px;

  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

.product-snippet__image {
  margin-bottom: 18px;
}

.product-snippet__button {
  @include btn-reset;
  position: absolute;

  width: 30px;
  height: 30px;
  top: 0;
  // transform: translateY(-100%);
  right: 0;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

@include desktop {
  .product-snippet {
    width: 265px;
    padding-left: 25px;
    padding-right: 25px;
    outline: 1px solid #dfdfdf;
  }

  .product-snippet__image {
    margin-left: -25px;
    width: 315px;
    height: 462px;
    margin-bottom: 17px;
  }

  .product-snippet__name {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .product-snippet__properties {
    margin: 0;
    padding: 0;
    padding-bottom: 37px;
    margin-bottom: 22px;
  }

  .product-snippet__price {
    margin: 0;
    padding: 0;
  }
}

@include tablet and (max-width: $desktop-width) {
  .product-snippet {
    position: relative;
    min-height: 284px;
    width: 284px;
    padding-left: 359px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .product-snippet__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 334px;
    height: 334px;
  }

  .product-snippet__properties {
    width: 270px;
    margin: 0;
    padding-bottom: 170px;
    margin-bottom: 20px;
  }

  .product-snippet__price {
    width: 270px;
    margin: 0;
    padding: 0;
  }

  .product-snippet__name {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }
}
