.product-card {
  width: 260px;
  color: #444444;
}

.product-card__title {
  margin: 0;
  font-size: 25px;
  line-height: 25px;
  color: black;
  font-weight: 700;
  margin-bottom: -5px;
}

.product-card__tag {
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  color: #63d1bb;
  font-weight: 700;
  text-transform: uppercase;
}

.product-card__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  font-weight: 400;
  margin-bottom: 30px;
}

.product-card__specifications {
  margin-bottom: 30px;
}

.product-card__property,
.product-card__value {
  text-align: left;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  font-weight: 400;
}

.product-card__image {
  margin-bottom: 30px;
}

.product-card__price {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    position: relative;
    width: 668px;
    padding-top: 50px;
  }

  .product-card__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .product-card__tag {
    margin: 0;
    position: absolute;
    width: 90px;
    text-align: center;
    top: 58px;
    right: 20px;
  }

  .product-card__description {
    width: 290px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-card__specifications {
    width: 290px;
    margin-bottom: 40px;
  }

  .product-card__image {
    position: absolute;
    width: 334px;
    height: 404px;
    top: 150px;
    right: 0;
  }

  .product-card__price {
    width: 290px;
  }

  .product-card__link {
    width: 290px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 875px;
    padding-left: 175px;
  }

  .product-card__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product-card__tag {
    top: 58px;
    left: 43px;
  }

  .product-card__description {
    margin-bottom: 50px;
  }

  .product-card__specifications {
    margin-bottom: 95px;
  }

  .product-card__image {
    width: 525px;
    height: 636px;
    top: 0;
    z-index: -1;
  }
}
