.product-snippet {
  width: 260px;
  min-height: 372px;

  @include min($tablet) {
    display: flex;
    flex-direction: row;
    min-height: 0;
    width: 668px;
  }

  @include min($desktop) {
    flex-direction: column;
    min-height: 659px;
    width: 315px;
  }
}

.product-snippet__name {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 3px;

  @include min_tablet_max_desktop {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    padding-right: 36px;
  }

  @include min($desktop) {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    padding-right: 27px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.product-snippet__properties {
  @include list-reset;

  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: rgb(68, 68, 68);

  @include min($tablet) {
    width: 270px;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
  }

  @include min($desktop) {
    margin: 0;
    padding: 0;
  }
}

.product-snippet__price {
  margin-top: 18px;
  width: 204px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 21px;

  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: black;
  border-top: 1px solid #ededed;

  @include min($tablet) {
    margin: 0 auto;
    margin-top: auto;
    width: 270px;
    padding: 0;
    padding-top: 21px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

  @include min($desktop) {
    width: 255px;
    margin: 0;
    margin-top: auto;
    padding: 0;
    padding-top: 20px;
  }
}

.product-snippet__image {
  @include min($tablet) {
    display: block;
    width: 334px;
  }

  @include min($desktop) {
    margin: 0;
    width: 315px;
    height: 462px;
  }
}

.product-snippet__button {
  @include btn-reset;
  padding: 0;

  z-index: 5;
  cursor: pointer;
  fill: #d3d2d2;
  outline: none;

  &:hover,
  &:focus {
    fill: #63d1bb;
  }

  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.product-snippet__wrapper {
  outline: 1px solid #ececec;
  margin: 0 auto;
  width: 202px;
  min-height: 151px;
  margin-top: -9px;
  padding-top: 28px;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-direction: column;

  @include min($tablet) {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-top: 26px;
    padding-bottom: 27px;
    margin: 0;
    width: 325px;
  }

  @include min($desktop) {
    width: 257px;
    min-height: 143px;

    &:hover {
      box-shadow: 0 5px 13px rgba(0, 0, 0, 0.61);
    }

    &:active {
      box-shadow: 0 5px 6px rgba(0, 0, 0, 0.61);
    }
  }
}
