.product-card {
  width: 260px;
  color: rgb(68, 68, 68);
}

.product-card__title {
  @include list-reset;
  font-size: 25px;
  line-height: 25px;
  color: black;
  font-weight: 700;
  margin-bottom: -5px;
}

.product-card__tag {
  @include list-reset;
  font-size: 17px;
  line-height: 17px;
  color: rgb(99, 209, 187);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 200px;
}

.product-card__description {
  @include list-reset;
  font-size: 15px;
  line-height: 24px;
  color: rgb(68, 68, 68);
  font-weight: 400;
  margin-bottom: 30px;
}

.product-card__specifications {
  margin-bottom: 30px;
}

.product-card__property,
.product-card__value {
  text-align: left;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(229, 229, 229, 1);
  font-size: 15px;
  line-height: 20px;
  color: rgb(68, 68, 68);
  font-weight: 400;
}

.product-card__image {
  margin-bottom: 30px;
}

.product-card__price {
  display: block;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 24px;
  color: rgb(68, 68, 68);
  font-weight: 700;
  text-align: center;
}
