.social-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 260px;

  @include min($desktop) {
    height: 30px;
  }
}

.social-list__link {
  margin-left: 40px;

  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;

  &first-child {
    margin-left: 0;
  }
}

.social-list__item:first-child .social-list__link {
  margin-left: 0;
}

.social-list__icon:hover,
.social-list__icon:focus {
  fill: #46c1ae;
}

.social-list__icon:active {
  fill: #46c1ae;
  opacity: 0.3;
}
