@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin btn-reset {
  border: none;
  background-color: transparent;
}

@mixin tablet {
  min-width: $tablet-width;
}

@mixin desktop {
  min-width: $desktop-width;
}
